<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/admin-layout"
      layout:decorate="~{fragments/admin-layout}">


<head>
    <title>Админ-панель</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" th:href="@{/css/admin.css}" />
    <link rel="stylesheet" th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@22.6.0/dist/css/suggestions.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@22.6.0/dist/js/jquery.suggestions.min.js"></script>
</head>

<body>
<div th:replace="include/admin-header :: header"></div>

<main layout:fragment="content">
    <section id="users-section">
        <div>
            <h2>👋 Привет и Добро пожаловать в панель управления!</h2>
            <p>Здесь вы можете полностью управлять товарооборотом вашего магазина:</p>
            <ul>
                <li>📊 Получайте отчёты по магазинам и заказам в удобном формате.</li>
                <li>🏬 Товары хранятся в магазинах, а не на складе.</li>
                <li>📦 На складе вы можете добавить новые партии товаров, чтобы потом передать их в магазины.</li>
                <li>➕ Добавляйте новые магазины и склады.</li>
                <li>🛒 Создавайте новые товары с описанием, изображениями и дополнительными файлами.</li>
                <li>🚚 Отслеживайте заказы, меняйте их статус и формируйте отчёты.</li>
                <li>📈 Управляйте остатками и пополняйте запасы в магазинах.</li>
            </ul>
            <p>🧭 Все инструменты управления доступны в меню. <strong>Начните с выбора нужного раздела.</strong></p>
        </div>

    </section>

</main>

<div th:replace="include/admin-footer :: footer"></div>

<script type="module" src="/static/js/main.js"></script>

</body>

</html>