<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/admin-layout"
      layout:decorate="~{fragments/admin-layout}">


<head>
    <title>Админ-панель</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" th:href="@{/css/admin.css}" />
    <link rel="stylesheet" th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@22.6.0/dist/css/suggestions.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@22.6.0/dist/js/jquery.suggestions.min.js"></script>
</head>

<body>
<div th:replace="include/admin-header :: header"></div>

<main layout:fragment="content">
    <section id="store-section">

        <h2>Управление магазинами</h2>

        <div class="controls">
            <button id="find-all-btn">Найти все активные магазины</button>
            <label>
                <input type="checkbox" id="show-inactive">
                Показать неактивные магазины
            </label>
            <button id="new-store-btn">Создать новый магазин</button>
        </div>

        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Локация</th>
                <th>Склад</th>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody id="store-table-body"></tbody>
        </table>

        <!-- Модалка создания магазина -->
        <div id="create-modal" class="modal hidden">
            <div class="modal-content">
                <h2>Создать магазин</h2>
                <form id="createStore">
                <label>Название: <input type="text" id="storeName" /></label>
                <label>Адрес: <input type="text" id="location" /></label>
                <label>Склад (ID): <input type="number" id="warehouse" /></label>
                </form>
                <div class="modal-actions">
                    <button type="submit" id="create-store-btn">Создать</button>
                    <button type="submit" id="close-create-modal" class="close">&times;</button>
                </div>

            </div>
        </div>

        <!-- Модалка редактирования магазина -->
        <div id="edit-modal" class="modal hidden">
            <div class="modal-content">
                <h2>Редактировать магазин</h2>
                <form id="updateStore">
                <input type="hidden" id="editStoreId" />
                <label>Название: <input type="text" id="editStoreName" /></label>
                <label>Адрес: <input type="text" id="editLocation" /></label>
                <label>Склад (ID): <input type="number" id="editWarehouse" /></label>
                </form>
                <div class="modal-actions">
                    <button type="submit" id="update-store-btn">Сохранить</button>
                    <button type="submit" id="close-edit-modal" class="close">&times;</button>
                </div>

            </div>
        </div>

    </section>

</main>

<div th:replace="include/admin-footer :: footer"></div>

<script type="module" src="/static/js/admin/main.js"></script>

</body>

</html>