<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/admin-layout"
      layout:decorate="~{fragments/admin-layout}">


<head>
    <title>Админ-панель</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preload" as="image" href="/img/field-moderator.webp" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <script>
        const preimg = new Image();
        preimg.src = "/img/field-moderator.webp";
    </script>
    <link rel="stylesheet" th:href="@{/css/admin.css}" />
    <link rel="stylesheet" th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@22.6.0/dist/css/suggestions.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@22.6.0/dist/js/jquery.suggestions.min.js"></script>
</head>

<body>
<div th:replace="include/admin-header :: header"></div>

<main layout:fragment="content">
    <section class="api-buttons">
        <div class="filter-inline">
            <button id="btn-users" class="api-btn">Все пользователи</button>
            <input type="text" id="input-email" placeholder="Email пользователя">
            <input type="text" id="input-phone" placeholder="Телефон пользователя">
            <button id="btn-username" class="api-btn">Профиль пользователя</button>
        </div>
    </section>


    <section id="users-section">
        <h3>Данные по запросу</h3>
        <div id="users-container"></div>
        <div class="pagination-controls">
            <button id="prev-page">Предыдущая</button>
            <span>Страница: <span id="page-number">1</span></span>
            <button id="next-page">Следующая</button>
            <input id="page-input" type="number" min="1" placeholder="№ стр." />
            <button id="go-to-page">Перейти</button>
        </div>
    </section>

</main>

<div th:replace="include/admin-footer :: footer"></div>

<script type="module" src="/static/js/admin/main.js"></script>

</body>

</html>