<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/admin-layout"
      layout:decorate="~{fragments/admin-layout}">


<head>
    <title>Админ-панель</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preload" as="image" href="/img/field-moderator.webp" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <script>
        const preimg = new Image();
        preimg.src = "/img/field-moderator.webp";
    </script>
    <link rel="stylesheet" th:href="@{/css/admin.css}" />
    <link rel="stylesheet" th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@22.6.0/dist/css/suggestions.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@22.6.0/dist/js/jquery.suggestions.min.js"></script>
</head>

<body>
<div th:replace="include/admin-header :: header"></div>

<main layout:fragment="content">
    <section id="warehouses-section">
        <h2>Управление складами</h2>
        <div class="controls">
            <button id="find-all-wh">Все активные склады</button>
            <label>
                <input type="checkbox" id="show-inactive">
                Неактивные склады
            </label>
            <button id="create-warehouse-btn">Создать новый склад</button>
            <button id="openAddProductModal" class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700">
                Добавить продукт в магазин
            </button>
        </div>

        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Локация</th>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody id="warehouse-table-body"></tbody>
        </table>

        <!-- Модалка создания склада -->
        <div id="create-warehouse-modal" class="modal hidden">
            <div class="modal-content">
                <h2>Создать новый склад</h2>
                <label class="create-warehouse">
                    Локация:
                    <input type="text" id="warehouse-location" />
                </label>

                <div class="modal-actions">
                    <button id="submit-create-warehouse" type="submit">Создать</button>
                    <button id="close-create-warehouse" class="close">&times;</button>
                </div>
            </div>
        </div>

        <!-- Модальное окно добавить товар в магазин-->
        <div id="addProductModal" class="modal hidden">
            <div class="modal-content">
                <h2>Добавить товар в магазин</h2>

                <form id="addProductToWarehouseForm">
                    <!-- Поиск продукта -->
                    <label>
                        Продукт:
                        <input type="text" id="productSearch" list="productSuggestions" autocomplete="off" required />
                        <datalist id="productSuggestions"></datalist>
                        <input type="hidden" id="productId" name="productId" />
                    </label><br>

                    <!-- Выпадающий список складов -->
                    <label>
                        С какого склада:
                        <select id="warehouseId" required>
                            <option value="">Загрузка складов...</option>
                        </select>
                    </label><br>

                    <label>
                        В какой магазин:
                        <select id="storeId" required>
                            <option value="">Загрузка магазинов...</option>
                        </select>
                    </label><br>

                    <!-- Количество -->
                    <label>
                        Количество:
                        <input type="number" id="quantity" min="1" required />
                    </label><br>

                    <div class="modal-actions">
                        <button type="submit">Добавить</button>
                        <button type="button" id="cancelAddProduct" class="close">&times;</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Модальное окно редактирования склада -->
        <div id="editWarehouseModal" class="modal hidden">
            <div class="modal-content">
                <h2>Редактировать склад</h2>
                <form id="editWarehouseForm">
                    <input type="hidden" id="editWarehouseId" />
                    <label>
                        Локация:
                        <input type="text" id="editWarehouseLocation" name="location" required />
                    </label>
                    <div class="modal-actions">
                        <button type="submit" id="submitEditWarehouse">Сохранить</button>
                        <button type="button" id="closeEditWarehouse" class="close">&times;</button>
                    </div>
                </form>
            </div>
        </div>

    </section>

</main>

<div th:replace="include/admin-footer :: footer"></div>

<script type="module" src="/static/js/admin/main.js"></script>

</body>

</html>