<nav id="menu" th:fragment="nav">
    <ul>
        <li><a th:href="@{/index}" class="enlace_menu">О нас</a></li>
        <li>
            <a th:href="@{/shop}" class="enlace_menu">Магазин</a>
            <ul class="submenu">
                <li th:each="categoria : ${categorias}">
                    <a th:href="@{/shop(id=${categoria.id != null ? categoria.id : ''})}"
                       th:text="${categoria.type}" class="enlace_submenu"></a>
                </li>
            </ul>
        </li>
        <li><a th:href="@{/sale}" class="enlace_menu">Акции</a></li>
        <li><a th:href="@{/condition}" class="enlace_menu">Доставка и оплата</a></li>
    </ul>
</nav>
