<nav id="menu" th:fragment="nav">
    <ul>
        <li><a th:href="@{/index}" class="enlace_menu">О нас</a></li>
        <li>
            <a th:href="@{/shop}" class="enlace_menu">Магазин</a>
            <ul class="submenu">
                <li><a th:href="@{/egg}" class="enlace_submenu">Яйцо</a></li>
                <li><a th:href="@{/milk}" class="enlace_submenu">Молоко</a></li>
                <li><a th:href="@{/chiken}" class="enlace_submenu">Мясо птицы</a></li>
                <li><a th:href="@{/chiken_joven}" class="enlace_submenu">Живая птица</a></li>
                <li><a th:href="@{/vegetables}" class="enlace_submenu">Овощи</a></li>
                <li><a th:href="@{/green}" class="enlace_submenu">Зелень</a></li>
                <li><a th:href="@{/conserva}" class="enlace_submenu">Закрутки</a></li>
            </ul>
        </li>
        <li><a th:href="@{/sale}" class="enlace_menu">Акции</a></li>
        <li><a th:href="@{/condition}" class="enlace_menu">Доставка и оплата</a></li>
    </ul>
</nav>
