<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
    <title>TaFe & Co</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" th:href="@{/img/Pollo.svg}" />
    <link rel="stylesheet" th:href="@{/css/styles_2.css}" />
    <link rel="stylesheet" th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@22.6.0/dist/css/suggestions.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@22.6.0/dist/js/jquery.suggestions.min.js"></script>
</head>

<body>
<div th:replace="include/header :: header"></div>
<div th:replace="include/nav :: nav"></div>

<main layout:fragment="content">

        <section id="tablas">
            
            <div class="pdf-header">
                <h1>Фермерское хозяйство <br> "ТаФе & Со"</h1>
                <p>Подтверждение заказа</p>
            </div>

            <h3>Оформлен заказ -<span id="number_order"></span></h3>
                <div class="form-group-row">
                    <p>Получатель: <strong><span id="recipient"></span></strong></p>
                    <p>Телефон: <strong><span id="phone"></span></strong></p>
                    <p>Адрес доставки: <strong><span id="address"></span></strong></p>
                   
                    <p>Дата-время доставки:<strong><span id="delivery-datetime"></span></strong></p>
                    <p>Метод оплаты:  <strong><span id="payment-option-text"></span></strong></p>
                    <p>Комментарий: <span id="comment-display"></span></p>


                </div>
            <table class="custom-table">
                <thead>
                    <tr>
                        <th scope="col">Изображение</th>
                        <th scope="col">Наименование</th>
                        <th scope="col">Количество</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Стоимость</th>
                        <th scope="col">Удалить</th>
                        
                    </tr>
                </thead>
                <tbody id="cart-items">
                    <!-- Товары будут загружены сюда -->
                </tbody>
                <tfoot>
                <tr>
                    <td id="go-home" colspan="1">
                        <a href="/" id="go-home-link">На главную</a>
                    </td>
                    <td id="download" colspan="1">
                        <a href="#" id="download-pdf" >Скачать в PDF</a>
                    </td>
                    <td id="total-items" colspan="2"></td>
                </tr>
                </tfoot>

            </table>

            <div class="summary-container">
                <div class="delivery-block">
                    <p>Информация о доставке:</p>
                    <p>Бесплатно при сумме свыше 3000 ₽</p>
                    <p>Ожидайте звонка менеджера</p>
                </div>
                <div class="summary-block">
                    <p><strong>Итого: <span id="total-sum"></span></strong></p>
                    <p><strong><span id="delivery-cost"></span></strong></p>
                    <p><strong>К оплате: <span id="total-payment"></span></strong></p>
                </div>
            </div>


            <div class="pdf-footer">
                <p>Спасибо за покупку!</p>
                <p>Контакты: tafeco.ferma@mail.com</p>
            </div>
        </section>


    
 </main>

<div th:replace="include/footer :: footer"></div>
<script type="module" src="/static/js/main.js"></script>
    
</body>

</html>