<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
    <title>TaFe & Co</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preload" as="image" href="/img/flow_fon.webp" />
    <link rel="icon" th:href="@{/img/Pollo.svg}" />
    <script>
        const preloadImage = new Image();
        preloadImage.src = "/img/flow_fon.webp";
    </script>
    <link rel="stylesheet" th:href="@{/css/styles_2.css}" />
    <link rel="stylesheet" th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@22.6.0/dist/css/suggestions.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@22.6.0/dist/js/jquery.suggestions.min.js"></script>
</head>

<body>
<div th:replace="include/header :: header"></div>
<div th:replace="include/nav :: nav"></div>

<main layout:fragment="content">

    <div class="container-row">
        <div class="container-row1">          
            <!-- Секция заказа -->
            <h3>Ваш заказ</h3>
            <section id="tablas">
                    
                <table class="final-order">
                    <thead>
                        <tr>
                        <th scope="col">Изображение</th>
                        <th scope="col">Товар</th>
                        <th scope="col">Количество</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Стоимость</th>
                        <th scope="col">Удалить</th>
                        </tr>
                    </thead>
                    <tbody id="cart-items">
                        <!-- Товары будут загружены сюда -->
                        
                    </tbody>
                    <tfoot>
                        <tr>
                            <th scope="row" colspan="4">Итого:</th>
                            <td id="total-items" colspan="4"></td>
                        </tr>
                    </tfoot>
                </table>
            </section>
        </div>
     

        
    
            <!-- Секция данных получателя -->
            <div class="container-row2">
                <h3>Данные для доставки</h3>
                <div class="form-group-row">
                    <p>Получатель: <strong><span id="recipient"></span></strong></p>
                    <p>Телефон: <strong><span id="phone"></span></strong></p>
                    <p>Адрес доставки: <strong><span id="address"></span></strong></p>
                   
                    <p>Дата-время доставки:<strong><span id="delivery-datetime"></span></strong></p>
                     <!-- Дата и время доставки -->
                     <label for="date" class="change-date">Изменить  дату  доставки</label>
                     <input type="date" id="date" name="date">
             
                     <label for="time" class="change-date">Изменить интервал времени</label>
                     <select id="time" name="time">
                         <option value="07:00-09:00">07:00 - 09:00</option>
                         <option value="09:00-12:00">09:00 - 12:00</option>
                         <option value="12:00-15:00">12:00 - 15:00</option>
                         <option value="15:00-18:00">15:00 - 18:00</option>
                         <option value="18:00-21:00">18:00 - 21:00</option>
                     </select>
                </div>
                <div class="form-group-row">
                    <label for="comment" class="change-date">Комментарий к заказу</label>
                    <input id="comment" type="text" placeholder="Комментарий к заказу">

                </div>

                <!-- Выбор способа оплаты -->
            <div class="section" id="payment-method">
                <h3>Выберите способ оплаты</h3>
                <div class="form-group-row">
                    <select id="payment-option" required>
                        <option value="" disabled selected>Выберите способ оплаты</option>
                        <option value="cash">Оплата наличными при доставке</option>
                        <option value="card">Банковская карта</option>
                      </select>
                    <p id="payment-option-text" class="payment-description"></p>
                </div>
            </div>
                   
                <button class="submit" id="confirm-order">Оплата и заказ</button>
                    
            </div>
        </div>
        <p class="consent">*Нажатием кнопки оплаты, подтверждаю заказ и обработку персональных данных</p>
        </div>
        


    <div class="container-row"></div>
    
 </main>

<div th:replace="include/footer :: footer"></div>
<script type="module" src="/static/js/main.js"></script>

</body>
</html>