<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaFe - Co</title>
    <link rel="icon" th:href="@{/img/Pollo.svg}" />
    <link rel="stylesheet" th:href="@{/css/styles_2.css}" />
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}" />
</head>

<body>
<div th:replace="include/header :: header"></div>
<div th:replace="include/nav :: nav"></div>

<main layout:fragment="content">

        <div class="product-card-container">
            <div class="product-card" id="product1">
                <img src="./images/broccoli.svg" alt="Брокколи" class="product-image">
                <div class="product-details">
                    <h3 class="product-title">Брокколи</h3>
                    <p class="product-description">Свежая брокколи, выращенная на наших полях.</p>
                    <div class="product-info">
                        <p class="product-unit">кг</p>
                        <p class="product-price">100.00 руб.</p>
                    </div>
                    
                    <div class="product-quantity">
                        <label for="quantity-1">Количество:</label>
                        <div class="quantity-controls">
                            <button class="quantity-btn-decrease" onclick="decreaseQuantity('quantity-1')">-</button>
                            <input type="text" id="quantity-1" class="quantity-input" name="quantity" pattern="[0-9]*" inputmode="numeric" value="1">
                            <button class="quantity-btn-increase" onclick="increaseQuantity('quantity-1')">+</button>
                        </div>
                    </div>
                    <button class="add-to-cart-btn" onclick="addToCart('product1')">Добавить в корзину</button>
                </div>
            </div>

            <div class="product-card" id="product2">
                <img src="./images/milk.svg" alt="Молоко" class="product-image">
                <div class="product-details">
                    <h3 class="product-title">Молоко</h3>
                    <p class="product-description">Свежайшее молоко от наших коров.</p>
                    <div class="product-info">
                        <p class="product-unit">л</p>
                        <p class="product-price">80.00 руб.</p>
                    </div>
                    
                    <div class="product-quantity">
                        <label for="quantity-2">Количество:</label>
                        <div class="quantity-controls">
                            <button class="quantity-btn-decrease" onclick="decreaseQuantity('quantity-2')">-</button>
                            <input type="text" id="quantity-2" class="quantity-input" name="quantity" pattern="[0-9]*" inputmode="numeric" value="1">
                            <button class="quantity-btn-increase" onclick="increaseQuantity('quantity-2')">+</button>
                        </div>
                    </div>
                    <button class="add-to-cart-btn" onclick="addToCart('product2')">Добавить в корзину</button>
                </div>
            </div>
            
            <!-- Добавьте еще карточки по аналогии -->
        </div>


</main>

<div th:replace="include/footer :: footer"></div>
<script type="module" src="/static/js/main.js"></script>

</body>
</html>