<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaFe - Co</title>
    <link rel="icon" th:href="@{/img/Pollo.svg}" />
    <link rel="stylesheet" th:href="@{/css/styles_2.css}" />
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}" />
</head>

<body>
<div th:replace="include/header :: header"></div>
<div th:replace="include/nav :: nav"></div>

<main layout:fragment="content">
        <div class="form-container">
            <h3>Оформление заказа</h3>
            <form id="order-form">
                <!-- Выбор способа заказа -->
                <div class="form-group-radio">
                    <label class="selected">
                        <span class="fake-radio"></span> Без регистрации
                    </label>
                    <button class="form" id="go-to-login">Регистрация/ вход в ЛК</button>
                </div>
    
                <!-- Имя получателя -->
                <div class="form-group-row">
                    <label for="name">Получатель</label>
                    <input type="text" id="name" name="name" required placeholder="Имя">
                    <span class="error-message"></span>
                    <input type="text" id="surname" name="surname" required placeholder="Фамилия">
                    <span class="error-message"></span>
                </div>
    
                <!-- Телефон -->
                <div class="form-group-row">
                    <label for="phone">Телефон</label>
                    <input type="tel" id="phone" name="phone" required placeholder="+7 XXX XXX XX XX" 
                    maxlength="18">
                    <span class="error-message"></span>
                
                <!-- Эл.почта -->
                
                    <label for="email">Электронная почта</label>
                    <input type="email" id="email" name="email" required placeholder="xxx@xxx.xx">
                    <span class="error-message"></span>
                </div>
    
                <!-- Адрес доставки -->
                <div class="form-group-row">
                    <label for="address">Адрес доставки</label>
                    <select id="city" name="city" required>
                        <option value="Санкт-Петербург">Санкт-Петербург</option>
                        <option value="Пушкин">Пушкин</option>
                        <option value="Гатчина">Гатчина</option>
                        <option value="Волосово">Волосово</option>
                    </select>
                    <input type="text" id="barrio" name="barrio" required placeholder="Район">
                    <span class="error-message"></span>
                </div>
                <div class="form-group-row">    
                    <input type="text" id="address" name="address" required placeholder="Улица, дом, квартира">
                    <span class="error-message"></span>
                    <input type="text" id="address-extra" name="addressExtra" placeholder="Дополнительная информация">
                </div>
    
                <!-- Дата доставки -->
                <div class="form-group-row">
                    <label for="date">Дата доставки</label>
                    <input type="date" id="date" name="date" required>
                
    
                <!-- Интервал времени -->
                
                    <label for="time">Выберите интервал времени</label>
                    <select id="time" name="time" required>
                        <option value="07:00-09:00">07:00 - 09:00</option>
                        <option value="09:00-12:00">09:00 - 12:00</option>
                        <option value="12:00-15:00">12:00 - 15:00</option>
                        <option value="15:00-18:00">15:00 - 18:00</option>
                        <option value="18:00-21:00">18:00 - 21:00</option>
                    </select>
                </div>
    
                <!-- Кнопка отправки -->
                <div class="form-group-row">
                    <button class="form" id="back-to-cart" type="button"> <= Назад</button>
                    <button class="form-submit" type="submit">Оформить заказ</button>
                </div>
            </form>
        </div>





</main>

<div th:replace="include/footer :: footer"></div>
<script type="module" src="/js/main.js"></script>

</body>
</html>