<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
    <title>TaFe & Co</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preload" as="image" href="/img/flow_fon.webp" />
    <link rel="icon" th:href="@{/img/Pollo.svg}" />
    <script>
        const preloadImage = new Image();
        preloadImage.src = "/img/flow_fon.webp";
    </script>
    <link rel="stylesheet" th:href="@{/css/styles_2.css}" />
    <link rel="stylesheet" th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@22.6.0/dist/css/suggestions.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@22.6.0/dist/js/jquery.suggestions.min.js"></script>
</head>


<body>
<div th:replace="include/header :: header"></div>
<div th:replace="include/nav :: nav"></div>

<main layout:fragment="content">
    <div class="form-container">
        <h3>Оформление заказа</h3>
        <form id="order-form" autocomplete="on">
            <!-- Выбор способа заказа -->
            <div class="form-group-radio">
                <label class="selected">
                    <span class="fake-radio"></span> Без регистрации
                </label>
                <button type="button" class="form" id="go-to-login">Регистрация / вход в ЛК</button>
            </div>

            <!-- Имя получателя -->
            <div class="form-group-row">
                <label for="name">Получатель</label>
                <input type="text" id="name" name="name" required placeholder="Имя" autocomplete="given-name">
                <span class="error-message"></span>
                <input type="text" id="surname" name="surname" required placeholder="Фамилия" autocomplete="family-name">
                <span class="error-message"></span>
            </div>

            <!-- Телефон и Email -->
            <div class="form-group-row">
                <label for="phone">Телефон</label>
                <input type="tel" id="phone" name="phone" required placeholder="+7 XXX XXX XX XX" maxlength="18" autocomplete="tel">
                <span class="error-message"></span>

                <label for="email">Электронная почта</label>
                <input type="email" id="email" name="email" required placeholder="xxx@xxx.xx" autocomplete="email">
                <span class="error-message"></span>
            </div>

            <!-- Адрес доставки -->
            <div class="form-group-row">
                <div class="field">
                    <label for="locality">Адрес доставки</label>
                    <input type="text" id="locality" name="locality" required placeholder="Город" autocomplete="address-level3">
                </div>
                <div class="field">
                    <label for="district">начните с города</label>
                    <input type="text" id="district" name="district" placeholder="Район" autocomplete="address-level2">
                </div>
                <div class="field">
                    <label for="region"><i class="fa fa-arrow-down" aria-hidden="true"></i></label>
                    <input type="text" id="region" name="region" required placeholder="Регион" autocomplete="address-level1">
                </div>


                <span class="error-message"></span>
            </div>

            <div class="form-group-row">
                <div class="field">
                    <label for="street">Улица</label>
                    <input type="text" id="street" name="street" required placeholder="Улица" autocomplete="address-line1">
                </div>

                <div class="field">
                    <label for="house">Дом</label>
                    <input type="text" id="house" name="house" required placeholder="Дом" autocomplete="address-line2">
                </div>
                <div class="field">
                    <label for="apartment">Квартира</label>
                    <input type="text" id="apartment" name="apartment" required placeholder="Квартира" autocomplete="address-line3">
                </div>

                <span class="error-message"></span>
            </div>

            <div class="form-group-row">

                <label for="address-extra">Дополнительная информация</label>
                <input type="text" id="address-extra" name="addressExtra" placeholder="Дополнительная информация" autocomplete="off">

                <span class="error-message"></span>
            </div>


            <!-- Дата и интервал доставки -->
            <div class="form-group-row">
                <label for="date">Дата доставки</label>
                <input type="date" id="date" name="date" required autocomplete="off">

                <label for="time">Выберите интервал времени</label>
                <select id="time" name="time" required autocomplete="off">
                    <option value="07:00-09:00">07:00 - 09:00</option>
                    <option value="09:00-12:00">09:00 - 12:00</option>
                    <option value="12:00-15:00">12:00 - 15:00</option>
                    <option value="15:00-18:00">15:00 - 18:00</option>
                    <option value="18:00-21:00">18:00 - 21:00</option>
                </select>
            </div>

            <!-- Кнопки -->
            <div class="form-group-row">
                <button class="form" id="back-to-cart" type="button"> &lt;= Назад</button>
                <button class="form-submit" type="submit">Оформить заказ</button>
            </div>
        </form>
    </div>
</main>


<div th:replace="include/footer :: footer"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@22.6.0/dist/js/jquery.suggestions.min.js"></script>

<script src="/js/dadata.js"></script>
<script type="module" th:src="@{/js/main.js}"></script>

</body>
</html>