<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
    <title>TaFe & Co</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preload" as="image" href="/img/flow_fon.webp" />
    <link rel="icon" th:href="@{/img/Pollo.svg}" />
    <script>
        const preloadImage = new Image();
        preloadImage.src = "/img/flow_fon.webp";
    </script>
    <link rel="stylesheet" th:href="@{/css/styles_2.css}" />
    <link rel="stylesheet" th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@22.6.0/dist/css/suggestions.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@22.6.0/dist/js/jquery.suggestions.min.js"></script>
</head>

<body>
<div th:replace="include/header :: header"></div>
<div th:replace="include/nav :: nav"></div>

<main layout:fragment="content">
        <div class="container-row">
            <div class="container-row1">
              <h3>Регистрация нового пользователя</h3>
                <form id="register-form" autocomplete="on">
                    <div class="form-group-row">
                        <input type="text" id="name" placeholder="Имя*" required>
                        <input type="text" id="surname" placeholder="Фамилия*" required>
                        <span class="error-message"></span>
                    </div>
                    <div class="form-group-row">
                        <input type="tel" id="phone" placeholder="Телефон*" required>
                        <input type="email" id="email" placeholder="Email*" required>
                        <span class="error-message"></span>
                    </div>
                    <div class="form-group-row">
                        <div class="field">
                            <input type="text" id="locality" name="locality" required placeholder="Город*" autocomplete="address-level3">
                        </div>
                        <div class="field">
                            <input type="text" id="district" name="district" placeholder="Район" autocomplete="address-level2">
                        </div>
                        <div class="field">
                            <input type="text" id="region" name="region" required placeholder="Регион" autocomplete="address-level1">
                        </div>
                        <span class="error-message"></span>
                    </div>
                    <div class="form-group-row">
                        <div class="field">
                            <input type="text" id="street" name="street" required placeholder="Улица*" autocomplete="address-line1">
                        </div>

                        <div class="field">
                            <input type="text" id="house" name="house" required placeholder="Дом*" autocomplete="address-line2">
                        </div>
                        <div class="field">
                            <input type="text" id="apartment" name="apartment" required placeholder="Квартира*" autocomplete="address-line3">
                        </div>
                        <span class="error-message"></span>
                    </div>
                    <div class="form-group-row">

                        <label for="address-extra">Дополнительная информация</label>
                        <input type="text" id="address-extra" name="addressExtra" placeholder="Дополнительная информация" autocomplete="off">

                        <span class="error-message"></span>
                    </div>
                
                    <div class="form-group-row">
                        <label for="password">Пароль*</label>
                        <input type="password" id="password" placeholder="Пароль латинскими буквами, c заглавной и минимум 1 цифрой" required autocomplete="off">
                    </div>
                    <div class="form-group-row">
                        <input type="password" id="confirm-password" placeholder="Подтверждение пароля" required autocomplete="off">
                    </div>
                
                    <button type="submit" class="submit" id="register">Зарегистрироваться</button>
                </form>
            </div>

       
        <div class="container-row2">
              <h3>Вход в личный кабинет</h3>
                <form id="login-form">
                    <div class="form-group-row">
                        <input type="email" id="login-email" placeholder="Email" required>
                    </div>
                    <div class="form-group-row">
                        <input type="password" id="login-password" placeholder="Пароль" required autocomplete="current-password">
                    </div>
                    <button type="submit" class="submit" id="login">Войти</button>
                </form>
            <div class="forgot-password">
                <a href="#" id="forgot-password-link">Забыли пароль?</a>
            </div>
            <!-- Форма восстановления пароля, изначально скрыта -->
            <div id="forgot-password-form" style="display:none; margin-top: 10px; flex: 1 1 auto; min-width: 100px; padding: 5px 10px; border: 1px solid #ccc; border-radius: 5px; font-size: 1em; box-sizing: border-box;">
                <input type="email" id="forgot-email" placeholder="Введите ваш email" required style="flex: 1 1 auto; min-width: 150px; padding: 5px 10px; border: 1px solid #ccc; border-radius: 5px; font-size: 1em; box-sizing: border-box;">
                <button id="send-forgot-password" class="submit">Отправить</button>
            </div>
            <!-- Вынесем сообщение сюда, вне формы -->
            <p id="forgot-password-message" style="color: green; margin-top: 5px;"></p>

        </div>
        
        </div>
        

</main>

<div th:replace="include/footer :: footer"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@22.6.0/dist/js/jquery.suggestions.min.js"></script>

<script src="/js/dadata.js"></script>
<script type="module" src="/static/js/main.js"></script>

</body>
</html>