<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>TaFe & Co</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preload" as="image" href="/img/flow_fon.webp" />
    <link rel="icon" th:href="@{/img/Pollo.svg}" />
    <script>
        const prelogImg = new Image();
        prelogImg.src = "/img/flow_fon.webp";
    </script>
    <link rel="stylesheet" th:href="@{/css/styles_2.css}" />
    <link rel="stylesheet" th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}" />
</head>

<body>
<header>
    <div id="header_izq">
        <h1>TaФe & Co</h1>
        <h2>Фермерское хозяйство</h2>
    </div>

    <div id="header_der">
        <div class="cart-container">
            <a th:href="@{/cart}">
                <img th:src="@{/img/cart.svg}" alt="Корзина" width="50px" height="50px" />
            </a>
            <div class="cart-count" id="cart-count">0</div>
        </div>

        <div class="user-container">
            <div class="flower-container">
                <img src="/img/flower.svg" alt="Flower" class="flower-img" />
                <div class="username" id="username-flower"></div>
            </div>
            <a href="#" id="user-icon-link">
                <img th:src="@{/img/user.svg}" alt="Пользователь" width="50px" height="50px" />
            </a>
            <div class="dropdown-menu">
                <ul class="user-menu">
                    <li><a href="#" id="account-link">Личный кабинет</a></li>
                    <li><a th:href="@{/index}" id="logout">Выйти</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>


<div th:replace="include/nav :: nav"></div>

<main layout:fragment="content"></main>

<div th:replace="include/footer :: footer"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@22.6.0/dist/js/jquery.suggestions.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>

<script th:inline="javascript">
    const categoryId = /*[[${categoryId}]]*/ null;
</script>
<script th:src="@{/js/dadata.js}"></script>
<script type="module" th:src="@{/js/main.js}"></script>

</body>
</html>
