<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>TaFe & Co</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" th:href="@{/img/Pollo.svg}" />
    <link rel="stylesheet" th:href="@{/css/styles_2.css}" />
    <link rel="stylesheet" th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}" />
</head>

<body>
<div th:replace="include/header :: header"></div>

<div th:replace="include/nav :: nav"></div>

<main layout:fragment="content"></main>

<div th:replace="include/footer :: footer"></div>

</body>
</html>
