@charset "UTF-8";

@import url(all.min.css);


:root {
    --alturaCabecera: 50px;
    --alturaPie: 30px;
    --alturaMenu:35px;
    --anchuraElemMenu:150px;

    --paddingGeneral: 10px;

    --sizeFuenteMenu: 20px;

	--colorPrincipal: #367f25;
	--colorPrincipalClaro:#66BB6A;
	--colorPrincipalOscuro: #084303;

	--colorContraste: #8ef861;
	--colorContrasteClaro: #f2e0cb;

    --fondoClaro: #fcf9e5;
    --fondoOscuro: #ddccba;

    --fuenteSerif:"Garamond";
    --fuenteSans:"Helvetica";

    --margen: 1rem;
    --margen-pequeno: .5rem;

}


* {
    margin: 0;
    padding: 0;
    font-family: var(--fuenteSans);
}

header {
    height: var(--alturaCabecera);
	background-image: url('../img/field-moderator.webp'); /* путь к изображению */
	background-size: cover; /* Изображение растягивается по всему контейнеру */
	background-position: center; /* Центрирование изображения */
	background-repeat: no-repeat; /* Отключаем повторение изображения */
	padding: var(--paddingGeneral);
    justify-content: center;
    align-items: center;
    position: relative;
}

.dropdown-menu {
    display: none; /* Скрываем меню по умолчанию */
    position: absolute; /* Абсолютное позиционирование относительно контейнера */
    top: 100%; /* Расстояние от верхней границы изображения */
    right: 0; /* Выравниваем по правой границе */
    background-color: #4CAF50;
    border: 1px solid #ccc; /* Границы меню */
    border-radius: 10px; /* Скругление углов */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Лёгкая тень */
    z-index: 10000; /* Поверх других элементов */
    width: 120px; /* Определяем ширину меню */
    pointer-events: visible; /* Разрешаем взаимодействие с меню */
    font-size: 14px;
}

.dropdown-menu ul {
    list-style: none; /* Убираем стандартные маркеры списка */
    margin: 0;
    padding: 5px 0;
}

.dropdown-menu li {
    padding: 10px; /* Отступы внутри пунктов меню */
    text-align: center; /* Выравниваем текст по центру */
    cursor: pointer; /* Курсор при наведении */

}

.dropdown-menu li:hover {
    background-color: var(--colorContrasteClaro); /* Подсветка при наведении */
}

.dropdown-menu a {
    text-decoration: none; /* Убираем подчёркивание текста */
    color: var(--colorPrincipalOscuro); /* Цвет текста */
    display: block; /* Делаем весь элемент кликабельным */
}
h1 {
    color: var(--colorContraste);
    font-family: var(--fuenteSerif);
    font-size: 30px;
    padding-bottom: 20px;
	display: flex; /* Используем Flexbox для выравнивания содержимого */
	flex-direction: row; /* Направление flex-контейнера по горизонтали */
	justify-content: center; /* Выравнивание содержимого по горизонтали (центр) */
	align-items: flex-end; /* Выравнивание содержимого по вертикали (по нижнему краю) */
}
h2 {
    color: var(--colorPrincipalOscuro);
    font-family: var(--fuenteSerif);
    font-size: 24px;
    padding-bottom: 10px;
	display: flex; /* Используем Flexbox для выравнивания содержимого */
	flex-direction: row; /* Направление flex-контейнера по горизонтали */
	justify-content: center; /* Выравнивание содержимого по горизонтали (центр) */
	align-items: flex-end; /* Выравнивание содержимого по вертикали (по нижнему краю) */
}
h3 {
    color: var(--colorPrincipalOscuro);
    font-family: var(--fuenteSerif);
    font-size: 18px;
    font-style: italic;
	display: flex; /* Используем Flexbox для выравнивания содержимого */
	flex-direction: row; /* Направление flex-контейнера по горизонтали */
	justify-content: center; /* Выравнивание содержимого по горизонтали (центр) */
	align-items: center; /* Выравнивание содержимого по вертикали */
    padding-bottom: 10px;
}

h4 {
    color: var(--colorPrincipalOscuro);
    font-family: var(--fuenteSerif);
    font-size: 16px;
    font-style: italic;
	display: flex; /* Используем Flexbox для выравнивания содержимого */
	flex-direction: row; /* Направление flex-контейнера по горизонтали */
	justify-content: center; /* Выравнивание содержимого по горизонтали (центр) */
	align-items: center; /* Выравнивание содержимого по вертикали */
    padding: 20px 0;
}
p {
    color: var(--colorPrincipalOscuro);
    font-size: 1.1em;
    font-family: var(--fuenteSans);
    text-align: justify;
    padding: 5px 0;
    overflow-wrap: break-word;
}
a {
    text-decoration: none;
    font-size: 0.8em;
    font-family: var(--fuenteSans);
}
a:hover {
    text-decoration: underline;
}

nav {
    background-color: #66BB6A;
    width: 100%;
    margin: 0;
    position: relative; /* Убедимся, что nav является родительским элементом */
    z-index: 10; /* Установим уровень над другими элементами */
    height: var(--alturaMenu);

}

nav ul {
    display: block;
    text-align: center;
    list-style: none;
    position: relative;
    height: var(--alturaMenu);
}

nav ul li {
    list-style: none;
	display: inline-flex;
	position: relative;
	white-space: nowrap; /* Оставить текст в одну строку */
}

.enlace_menu {
    display: inline-block;
    width: var(--anchuraElemMenu);
    height:var(--alturaMenu);
    text-decoration: none;
    font-weight: bolder;
    font-size: 16px;
    color: var(--colorPrincipalOscuro);
    padding: 10px 0;
    height: 100%;

}
a.enlace_menu {
  padding: 5px;
  margin: 0; /* если нужно убрать и внешний отступ */
  display: inline-block;
}

.enlace_menu:visited {
    background-color: var(--colorContraste);
    color: var(--colorPrincipalOscuro);

}

.enlace_menu:hover {
    background-color: #4CAF50;
    color: var(--colorPrincipalOscuro);

}

.enlace_menu:active {
    background-color: var(--colorContraste);
    color: var(--colorPrincipalOscuro);

}

ul .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #66BB6A;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px;
    min-width: 0px;
    border-radius: 5px;
    box-sizing: border-box;
    list-style: none;  /* Убираем маркеры списка */
    z-index: 1000;

}

li:hover > .submenu {
    display: block;
}


.submenu li {
    display: block;
    width: 100%;  /* Ширина подменю */
}

.submenu li a {
    padding: 0 10px;
    color: var(--colorPrincipalOscuro);
    font-size: 16px;
    text-decoration: none;
    display: block;
    width: calc(100% - 20px); /* Вычитаем padding */

}


.submenu li a:hover {
    background-color: var(--colorContraste);
    color: var(--colorPrincipal);
}

.submenu-user {
font-size:16px
}

main{
    background-color: var(--fondoOscuro);
    padding: 8px 12px;
    min-height: calc(100vh - (var(--alturaCabecera) + var(--alturaPie) + 70px));
}

section{
    background-color: var(--fondoClaro);
    padding:10px 5px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(40, 36, 36, 0.3);
	color: var(--colorPrincipalOscuro);
}

.api-btn {
    flex: 1; /* равная ширина для каждой кнопки */
    width: 25%; /* Устанавливаем определённую ширину кнопки */
    padding: 10px;
    margin: 0 30px;
    background-color: var(--fondoOscuro);
    color: var(--colorPrincipalOscuro);
    border: 2px solid var(--colorPrincipalOscuro);
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    text-align: center; /* Выравнивание текста по центру */
    transition: background-color 0.3s;
}
.api-btn:hover {
    background-color: var(--colorPrincipalClaro);
}

#users-section {
  display: none;
}

.filter-inline {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap; /* если экран узкий — перенос */
}

.filter-inline input {
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 2px solid #B0BEC5;
}

.delete-btn, .change-role-btn {
flex: 1;
padding: 3px;
margin: 5px;
gap: 5px;
background-color: var(--fondoOscuro);
color: var(--colorPrincipalOscuro);
border: 1px solid var(--colorPrincipalOscuro);
border-radius: 5px;
cursor: pointer;
font-size: 12px;
text-align: center; /* Выравнивание текста по центру */
transition: background-color 0.3s;
}

.delete-btn:hover, .change-role-btn:hover {
background-color: var(--colorPrincipalClaro);
}

#prev-page, #page-number, #next-page, #page-input, #go-to-page,
#filter-status, #filter-startDate, #filter-endDate, #filter-email,
#btn-filter, #btn-export, #status-btn, .status-btn, #filter-product,
#filter-warehouse, #filter-store, #btn-export-excel, #clear-filters-btn
{
margin: 3px;
background-color: #F1F8E9;
border: 1px solid var(--colorPrincipalOscuro);
border-radius: 5px;
flex: 1;
padding: 5px;
}

#page-input {
  width: 60px;
}
#filter-email, #filter-product {
  width: 200px;
}
#btn-export:hover, #status-btn:hover, .status-btn:hover,
#btn-filter:hover, #clear-filters-btn:hover, #btn-export-excel:hover {
  background-color: var(--colorPrincipalClaro);
}

#filter-status, #filter-startDate, #filter-endDate {
width: 120px;
}

#filter-warehouse, #filter-store {
width: 80px;
}

#orders-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2rem;
  align-items: flex-start;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.filters-left select,
.filters-left input {
  justify-self: center;
}

.filters-left {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 колонок */
  grid-template-rows: auto auto auto; /* 3 строки */
  gap: 0.5rem;
}
/* Вторая строка — email */
#filter-email {
  grid-column: 2 / span 3; /* занимает центр 3 колонок */
  width: 100%;
  height: 15px;
  justify-self: center;
}

/* Третья строка — product */
#filter-product {
  grid-column: 2 / span 3;
  width: 100%;
  height: 15px;
  justify-self: center;
}

.filters-right {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filters-right button {
  width: 100%;
}

#report-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2rem;
    align-items: flex-start;
    margin-bottom: 1rem;
    box-sizing: border-box;
    margin: 10px 20px;
    align-items: flex-start;
    justify-content: center;
}

#report-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-items: center;
    align-items: center;
}

.button-row {
    display: flex;
    gap: 1rem;

}

.button-row button {
    flex: 1;
}

.button-center {
    text-align: center;
}

#report-filters {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

#period-filters,
#summary-period-filters {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
#btn-report-status, #btn-report-sum, #btn-back-to-orders,
#btn-report-period, #btnReportSummary, #open-create-product-modal,
#open-create-category-modal, #open-create-dimension-modal,
#sortProducts, #filterCategory, #filterActive, #delete-product, .btn-report,
#warehouseSelect, #storeSelect, #load-full-store-report, #activeFilter,
#find-all-btn, #show-inactive, #new-store-btn, #submit-create-warehouse,
#find-all-wh, #create-warehouse-btn, #openAddProductModal {
  margin: 10px;
  background-color: #F1F8E9;
  border: 1px solid var(--colorPrincipalOscuro);
  border-radius: 5px;
  flex: 1;
  padding: 5px;
  }
#btn-report-status:hover, #btn-report-sum:hover,
#btn-back-to-orders:hover,
#btn-report-period:hover, #btnReportSummary:hover,
#open-create-product-modal:hover, #open-create-category-modal:hover,
#open-create-dimension-modal:hover,
#create-product-form button:hover,
#create-category-form button:hover,
#create-dimension-form button:hover, .btn-report:hover,
#load-full-store-report:hover,
#find-all-btn:hover, #show-inactive:hover, #new-store-btn:hover,
#submit-create-warehouse:hover, #find-all-wh:hover,
#create-warehouse-btn:hover, #openAddProductModal:hover {
background-color: var(--colorPrincipalClaro);
}

#btn-report-status, #btn-report-sum, #btn-back-to-orders,
#create-product-form button, #create-category-form button,
#create-dimension-form button {
width: 90px;
}

.modal {
    position: fixed;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%; height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-content {
    background-color: #FFF8E1;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    position: relative;
  }
  .close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .close-btn {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 30px;
    cursor: pointer;
  }

  .modal-close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 32px;
    cursor: pointer;
  }

  .modal.hidden {
    display: none;
  }

  .status-select {
  margin: 20px;
  weight: 60px;
  }

.fa-eye, .custom-icon {
  color: var(--colorPrincipalClaro);
  margin: 10px;
}

#create-product-form input,
#create-product-form select,
#create-product-form textarea,
#create-product-form button,
#create-category-form input,
#create-category-form button,
#create-dimension-form input,
#create-dimension-form button,
#edit-id input, #edit-description textarea,
#edit-price input, #edit-category select,
#edit-dimension select, #edit-archive input,
#edit-photo input, #edit-active input,
.create-warehouse input, #addProductToWarehouseForm input,
#addProductToWarehouseForm select, #editWarehouseForm input {
  min-width: 200px;
  width: 100%;                /* растягивается на всю доступную ширину родителя */
  max-width: 500px;           /* при желании можно ограничить максимальную ширину */
  box-sizing: border-box;
  flex: 1;
  border-radius: 5px;
  padding: 3px;
  margin: 5px;
}

#editProductForm, #create-product-form, #delete-product-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  #editProductForm label, #create-product-form label {
    font-weight: bold;
  }

  #editProductForm input,
  #editProductForm textarea,
  #editProductForm select,
  .btn-activate,
  #storeName input,
  #location input,
  #warehouse input,
  #editStoreName input,
  #editLocation input,
  #editWarehouse input {
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
  }
#create-product-form input,
#create-product-form textarea,
#create-product-form select,
#delete-product-form input {
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
  }

.close:hover {
    color: red;
  }

  button[type="submit"] {
    padding: 10px;
    font-weight: bold;
    background-color: var(--fondoOscuro);
    color: var(--colorPrincipalOscuro);
    border: none;
    border-radius: 5px;
    border: 1px solid var(--colorPrincipalOscuro);
    cursor: pointer;
    margin-top: 10px;
    flex: 1;
  }

  button[type="submit"]:hover {
    background-color: #45a049;
  }

 #reports-section {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 padding: 0 20px;
 gap: 30px;
 }

#createStore, #updateStore {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 padding: 0 20px;
 gap: 30px;
 }

.transfer-product-row {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 0.5rem;
}
.transfer-product-row input,
.transfer-product-row select {
  padding: 0.25rem;
}

#moder-section div {
padding: 30px 60px;
}
.moder-section li {
padding: 5px;
font-size: 20px;
}

/* Общие стили для таблицы */
#tablas {
    height: auto !important;
    max-height: none !important;
    overflow: visible !important;
    padding: 18px; /* если нужно */
  }
table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    border-spacing: 10px;
}

thead tr th {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 0;
    text-align: center;
    font-size: 16px;
}

th, td {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}
/* Защита от разрыва строк внутри таблицы */
table, thead, tbody, tr, td, th {
    page-break-inside: avoid !important;
}
thead th {
    background-color: var(--fondoOscuro);
    font-weight: bold;
}

tbody tr:hover {
    background-color: var(--colorContrasteClaro);
}

tfoot {
    width: 100%;
    background-color: var(--fondoOscuro);
    padding: 10px 0;
}

tfoot tr{
    width: 100%;
    background-color: var(--fondoOscuro);
    padding: 10px 0;
}
tfoot th {
    text-align: center;
    font-weight: bold;
    padding: 10px 0;

}
tfoot td {
    text-align: center;
    font-weight: bold;
    padding: 12px 0;
}

tfoot th button:hover {
    background-color: var(--colorContraste);
}

.submit {
    position: absolute; /* Абсолютное позиционирование */
    bottom: 15px; /* Привязываем кнопку к нижней части контейнера */
    left: 50%; /* Центрируем кнопку по горизонтали */
    transform: translateX(-50%); /* Исправляем центрирование */
    width: 60%; /* Устанавливаем определённую ширину кнопки */
    padding: 10px;
    background-color: var(--colorPrincipalClaro);
    color: var(--colorPrincipalOscuro);
    border: 1px solid var(--colorPrincipalOscuro);
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    text-align: center; /* Выравнивание текста по центру */
    transition: background-color 0.3s;
}

.submit:hover {
    background-color: var(--colorContraste);
}


footer{
    background-image: url('../img/field-moderator.jpg'); /* путь к изображению */
    background-size: cover; /* Изображение растягивается по всему контейнеру */
    background-position: center; /* Центрирование изображения */
    background-repeat: no-repeat;
    height:var(--alturaPie);
	justify-content: center;
	align-items: flex-start;
}

footer p{

    font-size: 1rem;
    color:var(--colorPrincipalOscuro);
    font-weight: bold;
    display: block;
    text-align: center;
    list-style: none;
    position: relative;

}


/* При ширине экрана больше 768px */
@media (min-width: 769px) {
  .menu {
    display: flex;
    width: 100%;       /* Чтобы контейнер занимал всю ширину */
    padding: 0;
    margin: 0;
    list-style: none;  /* если ul */
  }

  .enlace_menu {
    flex: 1;            /* Каждый пункт занимает равную часть */
    text-align: center; /* Чтобы текст был по центру */
    text-decoration: none;
    font-weight: bolder;
    font-size: 18px;
    color: var(--colorPrincipalOscuro);
    display: block;
  }
}