<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="icon" href="images/Pollo.svg">
    	
	<link rel="stylesheet" href="styles_2.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
	<title>TaFe - Co</title>
</head>

<body>

	<div>
        <header>
            <div id="header_izq">
                <h1>TaФe & Co</h1>
                <h2>Фермерское хозяйство</h2>
            </div>
    
            <div id="header_der">
                <div class="cart-container">
                    <a href="card.html">
                        <img src="images/cart.svg" alt="acceso a cart" width="50px" height="50px">
                    </a>
                    <div class="cart-count" id="cart-count">0</div>
                </div>
                
                <div class="user-container">
                    <a href="register.html">
                        <img src="images/user-309995.svg" alt="acceso a user" width="50px" height="50px">
                    </a>
                    <div class="dropdown-menu">
                        <ul>
                            <li><a href="register.html">Личный кабинет</a></li>
                            <li><a href="public/index.html" id="logout">Выйти</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </header>
    </div>
    
    

	<div>
        <nav id="menu">
            <ul>
                <li>
                    <a href="public/index.html" class="enlace_menu">О нас</a>
                </li>
                <li>
                    <a href="public/shop.html" class="enlace_menu">Магазин</a>
                    
                    <ul class="submenu">
                                    <li><a href="egg.html" class="enlace_menu">Яйцо</a></li>
                                    <li><a href="milk.html" class="enlace_menu">Молоко</a></li>
                                    <li><a href="chiken.html" class="enlace_menu">Мясо птицы</a></li>
                                    <li><a href="chiken_joven.html" class="enlace_menu">Живая птица</a></li>
                                    <li><a href="vegetables.html" class="enlace_menu">Овощи</a></li>
                                    <li><a href="green.html" class="enlace_menu">Зелень</a></li>           
                                    <li><a href="conserva.html" class="enlace_menu">Закрутки</a></li>
                                </ul>
                                
                </li>
                <li>
                    <a href="sale.html" class="enlace_menu">Акции</a>
                </li>
                <li>
                    <a href="condition.html" class="enlace_menu">Доставка и оплата</a>
                </li>
                
                
            </ul>
        </nav>
    </div>


	<main>
        <section>
            <h2>Акции и специальные предложения</h2>
            <h4>Здесь вы можете найти информацию о текущих акциях и специальных предложениях.</h4>
            <div class="promo-item-conteiner">
            <div class="promo-item">
                <h3>Скидка 20% на все яйца!</h3>
                <p>Покупая 10 упаковок, вы получаете скидку 20% на всю покупку.</p>
            </div>
            <div class="promo-item">
                <h3>Подарок при покупке молока</h3>
                <p>При покупке 5 литров молока вы получаете бесплатную упаковку творога.</p>
            </div>
            <div class="promo-item">
                <h3>Скидка на мясо птицы</h3>
                <p>При покупке 3 кг мяса птицы вы получаете скидку 15% на следующий заказ.</p>
            </div>
            <div class="promo-item">
                <h3>Сезонные овощи</h3>
                <p>При покупке 5 кг сезонных овощей вы получаете скидку 10% на весь заказ.</p>
            </div>
            <div class="promo-item">
                <h3>Подарок при покупке зелени</h3>
                <p>При покупке 3 упаковок зелени вы получаете бесплатную упаковку свежих трав.</p>
            </div>
            <div class="promo-item">
                <h3>Закрутки со скидкой</h3>
                <p>При покупке 5 банок закруток вы получаете скидку 10% на весь заказ.</p>
            </div>
        </div>
        </section>
            
            </main>

            <div>
                <footer>
                    <div id="pie_izq">
                        <ul id="redes-sociales">
                            <li><a href="https://t.me/" target="_blank" class="telegram-icon"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
                            <li><a href="https://wa.me/79312606980" target="_blank" class="whatsapp-icon"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                            <li><a href="#" target="_blank" class="email-icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
                        </ul>
                        
                    </div>
                    <div id="pie_der">
                    <p>&copy; 2025 studio VikanikS</p>
                    </div>
        
                    <div id="arriba">
                        <a href="#header_izq"><i class="fa fa-arrow-up fa-2x" aria-hidden="true"></i></a>
                    </div>
                </footer>
            </div>
        
        
            <script type="module" src="/js/main.js"></script>


</body>

</html>